@font-face {
  font-family: "Clear Sans";
  src: url("/fonts/ClearSans-Bold.ttf");
}

body {
  background: #faf8ef;
  text-align: center;
  font-family: "Clear Sans";
  color: #776e65;
}

.board {
  background: #bbada0;
  width: 456px;
  height: 456px;
  margin: 0 auto;
  border-radius: 5px;
  padding: 8px;
}

.cell {
  background: rgba(238, 228, 218, 0.35);
  width: 100px;
  height: 100px;
  float: left;
  margin: 7px;
  border-radius: 3px;
  font-size: 3em;
}

.cell > div {
  margin-top: 14px;
}
